PORT=3000

# Google Sheets Configuration
GOOGLE_SHEET_ID=1-i0RUjDB6b_vI1VzqcjN58O7zI_vx3gaAUjsLjHu_ps
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Email Notifications (Nodemailer)
EMAIL_USER=forlogin759@gmail.com
EMAIL_PASS=your-16-letter-app-password
